@using Nop.Plugin.Shipping.GLS.Models
@model Nop.Plugin.Shipping.GLS.Models.GLSModel
@{
    Layout = "_ConfigurePlugin";
}


<form asp-controller="GLS" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>GLS settings</h4>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="EndpointAddress" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="EndpointAddress" />
                        <span asp-validation-for="EndpointAddress"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="AmountNearestShops" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AmountNearestShops" />
                        <span asp-validation-for="AmountNearestShops"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="Tracing" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Tracing" />
                        <span asp-validation-for="Tracing"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="PricesEndsWith" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PricesEndsWith" />
                        <span asp-validation-for="PricesEndsWith"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="FreeShippingLimit" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="FreeShippingLimit" />
                        <span asp-validation-for="FreeShippingLimit"></span>
                    </div>
                </div>

                <hr />
                <h4>Prices (EURO)</h4>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="label-wrapper"></div>
                    </div>
                    <div class="col-md-1 text-center">
                        Parcelshops
                    </div>
                    <div class="col-md-1 text-center">
                        0&nbsp;-&nbsp;1&nbsp;kg&nbsp;
                    </div>
                    <div class="col-md-1 text-center">
                        1&nbsp;-&nbsp;5&nbsp;kg&nbsp;
                    </div>
                    <div class="col-md-1 text-center">
                        5&nbsp;-&nbsp;10&nbsp;kg&nbsp;
                    </div>
                    <div class="col-md-1 text-center">
                        10&nbsp;-&nbsp;15&nbsp;kg&nbsp;
                    </div>
                    <div class="col-md-1 text-center">
                        15&nbsp;-&nbsp;20&nbsp;kg&nbsp;
                    </div>
                    <div class="col-md-1 text-center">
                        20&nbsp;-&nbsp;25&nbsp;kg&nbsp;
                    </div>
                    <div class="col-md-1 text-center">
                        25&nbsp;-&nbsp;30&nbsp;kg&nbsp;
                    </div>
                </div>
                @for (int i = 0; i < Model.GLSCountries.Count; i++)
                {
                    <div class="form-group">
                        @if (Model.GLSCountries[i].SortOrder == 10000) // Other (XXX)
                        {
                            <br /><br />
                        }
                        <div class="col-md-3">
                            <div class="label-wrapper">
                                <label class="control-label">@Model.GLSCountries[i].CountryName</label>
                            </div>
                        </div>
                        <div class="col-md-1 text-center">
                            <nop-editor asp-for="@Model.GLSCountries[i].SupportParcelShop" />
                        </div>
                        <div class="col-md-1">
                            <nop-editor asp-for="@Model.GLSCountries[i].ShippingPrice_0_1" />
                        </div>
                        <div class="col-md-1">
                            <nop-editor asp-for="@Model.GLSCountries[i].ShippingPrice_1_5" />
                        </div>
                        <div class="col-md-1">
                            <nop-editor asp-for="@Model.GLSCountries[i].ShippingPrice_5_10" />
                        </div>
                        <div class="col-md-1">
                            <nop-editor asp-for="@Model.GLSCountries[i].ShippingPrice_10_15" />
                        </div>
                        <div class="col-md-1">
                            <nop-editor asp-for="@Model.GLSCountries[i].ShippingPrice_15_20" />
                        </div>
                        <div class="col-md-1">
                            <nop-editor asp-for="@Model.GLSCountries[i].ShippingPrice_20_25" />
                        </div>
                        <div class="col-md-1">
                            <nop-editor asp-for="@Model.GLSCountries[i].ShippingPrice_25_30" />
                        </div>
                    </div>

                    @Html.HiddenFor(modelItem => Model.GLSCountries[i].ThreeLetterISOCode)
                    @Html.HiddenFor(modelItem => Model.GLSCountries[i].TwoLetterGLSCode)
                    @Html.HiddenFor(modelItem => Model.GLSCountries[i].CountryName)
                    @Html.HiddenFor(modelItem => Model.GLSCountries[i].GLSNumber)
                    @Html.HiddenFor(modelItem => Model.GLSCountries[i].SortOrder)
                }

                <br />
                <hr />
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="field-validation-error">
    <h4>@Model.ErrorMessage</h4>
</div>
