@using Nop.Plugin.Admin.OrderManagementList.Models
@using Nop.Plugin.Admin.OrderManagementList.Domain

@model OrderManagementListModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    Html.AddCssFileParts("~/Plugins/Nop.Plugin.Admin.OrderManagementList/Content/OrderStyles.css");
}

<form asp-controller="OrderManagement" asp-action="List" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Order management list</h4>
                <br /><br />
            </div>
        </div>
    </div>

    <hr />
    @if (string.IsNullOrEmpty(Model.ErrorMessage) == false)
    {
        <div id="divErrorMessage">
            <h3>Error occurred:</h3>
            <h4>@Model.ErrorMessage</h4>
        </div>
    }
    else
    {
        @foreach (AOPresentationOrder order in Model.PresentationOrders)
        {
            <div class="divSingleOrder">
                <div class="divOrderInfo">
                    <a href="/Admin/Order/Edit/@order.OrderId">Ordrenummer:&nbsp;@order.OrderId</a>
                    <br />
                    <a href="/Admin/Order/OrderNote/@order.OrderId">Følgeseddel</a>
                    <br />
                    <a class="large-anchor" href="/Admin/Order/InvoiceAndCapture/@order.OrderId">Afslut ordre</a>
                    <br /><br />
                    @order.OrderDateTime
                    <br>
                    @order.TotalOrderAmount
                </div>
                <div class="divProductInfo">
                    @foreach (AOOrderItem item in order.PresentationOrderItems)
                    {
                    <div>
                        <input type="checkbox" name="chkReady" onclick="UpdateProductTakenAsideAjax(@order.OrderId, @item.OrderItemId, @item.ProductId, this.checked);" />&nbsp;Er taget fra&nbsp;&nbsp;
                        <input type="checkbox" name="chkOrdered"  onclick="UpdateProductOrderedAjax(@order.OrderId, @item.OrderItemId, @item.ProductId, this.checked);" value="@item.ProductId" />&nbsp;Er bestilt
                        <span id="spn-@order.OrderId-@item.OrderItemId-@item.ProductId" class="success" style="display:none;"></span>
                        <br />
                        <span>@item.ProductName</span>
                        <hr class="hrOrderManagement" />
                    </div>
                    }
                </div>
                <div class="divOrderNote">@Html.Raw(order.OrderNotes)</div>
                <div class="divCustomerComment">@Html.Raw(order.CustomerComment)</div>
                <div class="divShippingInfo">@order.ShippingInfo</div>
                <div class="divCustomerInfo">
                    @Html.Raw(order.CustomerInfo)
                    <br />
                    @order.CustomerEmail
                </div>
            </div>
            <div style="clear:both;"></div>
            <hr class="hrOrderManagement" />
        }
    }

    <script type="text/javascript">

        function UpdateProductTakenAsideAjax(orderId, orderItemId, productId, checked)
        {                        
            $.ajax({
                cache: false,
                type: 'GET',
                url: '@Url.Action("UpdateProductTakenAside", "OrderManagement")',
                data: { orderId: orderId, orderItemId: orderItemId, productId: productId, isTakenAside: checked },
                dataType: 'json',
                success: function (data) {                    
                    var infoId = "#spn-" + orderId + "-" + orderItemId + "-" + productId;
                    $(infoId).show();
                    $(infoId).html(data);
                    $(infoId).fadeOut(3000, function () {
                        // Animation complete.
                    });                    
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    if (xhr && xhr.responseText) {
                        var err = eval("(" + xhr.responseText + ")");
                        alert('Error while saving.' + err.Message);
                    }
                    else {
                        alert('Error while saving.');
                    }
                }
            });
            return false;
        }

        function UpdateProductOrderedAjax(orderId, orderItemId, productId, checked)
        {                        
            $.ajax({
                cache: false,
                type: 'GET',
                url: '@Url.Action("UpdateProductOrdered", "OrderManagement")',
                data: { orderId: orderId, orderItemId: orderItemId, productId: productId, isOrdered: checked },
                dataType: 'json',
                success: function (data) {                    
                    var infoId = "#spn-" + orderId + "-" + orderItemId + "-" + productId;
                    $(infoId).show();
                    $(infoId).html(data);
                    $(infoId).fadeOut(3000, function () {
                        // Animation complete.
                    });                    
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    if (xhr && xhr.responseText) {
                        var err = eval("(" + xhr.responseText + ")");
                        alert('Error while saving.' + err.Message);
                    }
                    else {
                        alert('Error while saving.');
                    }
                }
            });
            return false;
        }
     </script>

</form>
