@using Nop.Plugin.Admin.OrderManagementList.Models
@using Nop.Web.Framework.UI;

@model PresentationReOrderListModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    Html.AddCssFileParts("~/Plugins/Nop.Plugin.Admin.OrderManagementList/Content/OrderStyles.css");
    ViewData["Title"] = "Bestillingsliste";
    ViewBag.Title = "Bestillingsliste";
    Html.SetActiveMenuItemSystemName("ReOrderList");
}

<form asp-controller="ReOrderController" asp-action="ReOrderList" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1>Bestillingsliste</h1>
            </div>
        </div>
    </div>

    <hr />
    @if (string.IsNullOrEmpty(Model.ErrorMessage) == false)
    {
        <div id="divErrorMessage">
            <h3>Error occurred:</h3>
            <h4>@Model.ErrorMessage</h4>
        </div>
    }
    else
    {
        <div id="divSearch">
            <div class="divSearchBox">
                <input id="txtSearch" type="text" value="@Model.SearchPhrase" autofocus />&nbsp;&nbsp;
                <button value="1" onclick="javascript: return DoSearch();">Søg</button>
            </div>
            <div class="ico-help searchHelp" title="Der søges i:&#13;Navn på leverandør&#13;Mærkenavn&#13;Produktnavn&#13;og leverandør produktid">
                <i class="fa fa-question-circle"></i>
            </div>
        </div>

        <div id="divCount">
            <div class="divTotalCount">Ialt:&nbsp;@Model.TotalCount</div>
        </div>
        <div style="clear:both;"></div>

        <hr class="hrOrderManagement" />

        <div class="divSingleReOrderItem">
            <div class="divDecrease">&nbsp;</div>
            <div class="divDecrease">&nbsp;</div>
            <div class="divVendor">
                <b>Leverandør (id i parantes)</b>
            </div>
            <div class="divManufacturer">
                <b>Mærke og leverandør produktid</b>
            </div>
            <div class="divProduct">
                <b>Fulde produktnavn</b>
            </div>
            <div class="divQuantity"><b>Antal</b></div>
        </div>
        <div style="clear:both;"></div>
        <hr class="hrSmall" />
        <br />
        @foreach (PresentationReOrderItem reOrderItem in Model.ReOrderItems)
        {
            <div class="divSingleReOrderItem">
                <div class="singleLineError">
                    <span id="@reOrderItem.Id-error-spn"></span>
                </div>

                @if (reOrderItem.ProductName == "Spacing")
                {            
                    <hr class="hrOrderManagement" />
                    <div class="spacing">                        
                        <span>@reOrderItem.VendorName</span>
                        &nbsp;
                        &nbsp;                      
                        <a href="/Admin/ReOrder/ReOrderNote?vendorId=@reOrderItem.VendorId&amp;vendorName=@reOrderItem.VendorName">Se liste til @reOrderItem.VendorName</a>
                    </div>                       
                }
                else
                {
                    <div class="divDecrease">
                        <a class="btn bg-red large-text" onclick="javascript:JSReOrderItemChangeQuantity(@reOrderItem.Id, -1);">Tæl ned</a>
                    </div>
                    <div class="divDecrease">
                        <a class="btn bg-green large-text" onclick="javascript:JSReOrderItemChangeQuantity(@reOrderItem.Id, 1);">Tæl op</a>
                    </div>
                    <div class="divVendor">
                        @reOrderItem.VendorName&nbsp;(@reOrderItem.VendorId)
                    </div>
                    <div class="divManufacturer">
                        @reOrderItem.ManufacturerName&nbsp;(@reOrderItem.ManufacturerId)
                        <br />
                        @Html.Raw(reOrderItem.ManufacturerProductId)
                    </div>
                    <div class="divProduct">
                        @Html.Raw(reOrderItem.ProductName)
                    </div>
                    <div class="divQuantity">
                        <span id="spn-quantity-@reOrderItem.Id">@reOrderItem.Quantity</span>
                    </div>
                }
            </div>
            <div style="clear:both;"></div>
            <hr class="hrSmall" />
        }
    }

    <script type="text/javascript">

        function JSReOrderItemChangeQuantity(reOrderItemId, quantity)
        {
            $.ajax({
                cache: false,
                type: 'GET',
                url: '@Url.Action("ReOrderItemChangeQuantity", "ReOrder")',
                data: { reOrderItemId: reOrderItemId, quantity: quantity },
                dataType: 'json',
                success: function (data)
                {
                    var spnId = "#spn-quantity-" + reOrderItemId;
                    $(spnId).html(data);
                    $(spnId).css("font-weight", "bold");
                },
                error: function (xhr, ajaxOptions, thrownError)
                {
                    if (xhr && xhr.responseText)
                    {
                        var err = eval("(" + xhr.responseText + ")");
                        ShowError(orderId, err.Message);
                    }
                    else
                    {
                        ShowError(orderId, "Error while saving.");
                    }
                }
            });
            return false;
    }

    function DoSearch()
    {
        var loc = location.href;
        if (loc.indexOf("?searchphrase=") > -1)
        {
            loc = loc.substring(0, loc.indexOf("?searchphrase=")) + "?searchphrase=" + $("#txtSearch").val();
            location.href = loc;
        }
        else
        {
            location.href = location.href + "?searchphrase=" + $("#txtSearch").val();
        }
        return false;
    }

    function ShowError(orderId, msg)
    {
        $("#" + orderId + "-error-spn").html(msg);
        $("#" + orderId + "-error-spn").parent().css("display", "block");
    }


    </script>
</form>
